/Class_Docs/*
/MavenWebProject/MavenWebProject/target/*
/SpringFramework-Fundamentals/target/*
/SpringMCV-HelloWorld-Maven/SpringMCV-HelloWorld-Maven/target/*
/SpringMVC-HelloWorld-WebMavenProject/SpringMVC-HelloWorld-WebMavenProject/target/*
/MavenWebProject/MavenWebProject/target/*